@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
  from {
    opacity: 0;
    transform: translateY(16);
  }
}

.animateFadeUp {
  animation: fadeUp 1s ease-out forwards;
}

.customScroll::-webkit-scrollbar {
  width: 2px;
}

.customScroll::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
  border-radius: 20px;
}

.customScroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.6);
}