@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
  from {
    opacity: 0;
    transform: translateY(16);
  }
}

.animateFadeUp {
  animation: fadeUp 1s ease-out forwards;
}